# App Config
API_HOST=0.0.0.0
API_PORT=8000
ENV_MODE=development

# External MinIO Configuration (HTTPS)
# IMPORTANT: Just the domain. Do NOT include "https://"
MINIO_ENDPOINT=minio:9000
MINIO_PUBLIC_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=supersecret123
MINIO_BUCKET_NAME=plant-disease-images

# Set to 'true' to enable HTTPS
MINIO_SECURE=false


GEMINI_API_KEY=
AI_PROVIDER=ollama
OLLAMA_MODEL=llava-llama3 


# Database Configuration
POSTGRES_USER=agrivision
POSTGRES_PASSWORD=Test12345
POSTGRES_DB=agrivision_db
POSTGRES_SERVER=db
POSTGRES_PORT=5432

# openssl rand -base64 32
SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30